h1 {
    text-align: center;
}

.ui button {

    display: block;
    background-color: white;

}

.ui button:hover {

    background-color: #99ccff;

}

#toggleBtn {
    background-color: white;
}

#toggleBtn:hover {
    background-color: #99ccff;
}

#filterOptions {
    background-color: #ccffff;
}

#content {
    margin-top: 1em;
}

td {
    font-size: 20px;
}

 


td img:hover{
    cursor: pointer;
}

.centeredBlock {
    display: block;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#table {
    background-color: #ccffff;
}