#page {
    background-image: url("../assets/images/background.jpg");
    background-color: black;
    width: 100%;
    height: 100%;
    border-color: black;
}

#welcome {
    text-align: center;
    padding-top: 15em;
    max-width: 20em;
}

h1 {
    font-family: Frozito;
    font-size: 10em;
}

h3 {
    font-family: Frozito;
    font-size: 2em;
}

label {
    font-family: Ringbearer;
}

@font-face {
    font-family: Frozito;
    src: url("../assets/fonts/Frozito.ttf");
}

@font-face {
    font-family: Ringbearer;
    src: url("../assets/fonts/RINGM___.ttf");
}

@media (max-width: 600px) { 
        h1 {
            font-size: 60px;
            text-align: center;
        }
    }