a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

#previewBtn {
    margin: 0 auto;
    text-align: center;
    display: block;
    background-color: white;
}

#backBtn{
    background-color: white;
}

#backBtn:hover{
    background-color: #99ccff;
}

#previewBtn:hover{
    background-color: #99ccff;
}

#content {
    padding-top: 1em;
    padding-bottom: 1em;
}

.centeredBlock {
    display: block;
    text-align: center;
}

#details {
    background-color: #ccffff;
}