<app-header></app-header>
<div id="content" *ngIf="book">
    <div id="details" class="ui raised very padded text container segment">
      <div class="centeredBlock">
          <div id="backBtn" class="ui labeled icon button" [routerLink]="['/books']">
            <i class="arrow left icon"></i>
            Go Back
          </div>
      </div>
      <h1 class="ui centered header">{{ book.volumeInfo.title }}</h1>

        <img class="ui centered small image" src="{{ book.volumeInfo.imageLinks.thumbnail }}">
        <h2 class="ui centered header">Some Details...</h2>
        <div class="ui list">
          <div class="item">
              <i class="pencil alternate icon"></i>
              <div class="content">
                {{ book.volumeInfo.authors }}
              </div>
          </div>
          <div class="item">
              <i class="hashtag icon"></i>
              <div class="content">
                {{ book.volumeInfo.industryIdentifiers[0].identifier }}
              </div>
          </div>
          <div class="item">
              <i class="calendar outline icon"></i>
              <div class="content">
                {{ book.volumeInfo.publishedDate }}
              </div>
          </div>
          <div class="item">
              <i class="bookmark outline icon"></i>
              <div class="content">
                {{ book.volumeInfo.categories }}
              </div>
          </div>
          <div class="item">
              <i class="newspaper outline icon"></i>
              <div class="content">
                {{ book.volumeInfo.pageCount }}
              </div>
          </div>
          <div class="item">
            <i class="star icon"></i>
            <div class="content" *ngIf="book.volumeInfo.averageRating!=null">
              {{ book.volumeInfo.averageRating }}
            </div>
            <div class="content" *ngIf="book.volumeInfo.averageRating==null">
              No Reviews Yet!
          </div>

        </div>
        <div class="item">
            <i class="book icon"></i>
            <div class="content">
              <a href="{{ book.volumeInfo.infoLink }}">More Details!</a>
            </div>
        </div>
        </div>
        <h2 class="ui centered header">What is it about?</h2>
        <p>{{ book.volumeInfo.description }}</p>
        <a href="{{ book.volumeInfo.previewLink }}">
          <div id="previewBtn" class="ui animated fade button" tabindex="0">
            <div class="visible content">Want a Preview?</div>
            <div class="hidden content">Yes Please!</div>
          </div>
        </a>
      </div>
</div>

